.main{
    width: 100%;
    height: 100%;
}
.body{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    color: lightgray;
    width: 100%;
}
.head h1{
    margin: 20px auto;
    font-size: 30px;
}
.nav{
    padding: 10px;
    color: var(--green2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav button{
    border: 1px solid var(--green2);
    padding: 5px 30px;
    border-radius: 6px;
}
.nav button:hover{
    background-color: var(--green1);
    color: var(--black1);
}
.pgimg{
    width: 100%;
}
.pgimg IMG{
    width: 80%;
    margin: 0px auto;
}